# Datasets (do not commit downloaded data)
**/cs231n/datasets/cifar-10-batches-py/
**/cs231n/datasets/coco_captioning/
**/cs231n/datasets/coco_captioning.zip
**/cs231n/datasets/*.npz

*.pyc
**/__pycache__/

# Assignment 3: downloaded / generated weights (do not commit)
assignment3/pretrained_model/
assignment3/cs231n/exp/
